@use "../mixins/fonts.scss" as *;

.rules-page {
  min-height: calc(100vh - 60px);
  padding: 20px;
  background-color: #f9f9f9;

  .rules-container {
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      @include playfair-bold;
      font-size: 2rem;
    }

    h2,
    h3 {
      @include playfair-bold;
      font-size: 1.5rem;
      margin-top: 20px;
    }

    p {
      @include inter-regular;
      font-size: 1rem;
      line-height: 1.6;
    }

    ul {
      @include inter-regular;
      list-style-type: none;
      padding-left: 0;

      li {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
  }
}
