@use "../mixins/fonts.scss" as *;

.home-container {
  min-height: calc(100vh - 60px);
  background-color: #f9f9f9;
  text-align: center;
  padding: 1rem;

  .heading-section {
    margin-bottom: 32px;
    margin-top: 32px;

    h2 {
      @include playfair-bold;
      margin-top: 0;
      font-size: 2rem;
    }

    p {
      @include inter-regular;
      font-size: 1.2rem;
    }
  }

  .features-section {
    margin-top: 32px;

    h3 {
      @include playfair-bold;
      margin-bottom: 24px;
      font-size: 1.8rem;
    }

    .features-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;

      .feature-item {
        padding: 16px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        img {
          max-width: 100%;
          object-fit: cover;
        }

        h4,
        h5 {
          @include playfair-bold;
          margin-top: 16px;
          font-size: 1.2rem;
        }

        p {
          @include inter-regular;
          margin-top: 8px;
        }
      }
    }
    .feature-item:last-child {
      margin-bottom: 40px;
    }
  }
}
