@use "../mixins/fonts.scss" as *;

.not-logged-in-message {
  min-height: calc(100vh - 60px);
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 10px;

  h1 {
    @include playfair-bold;
    font-size: 1.7rem;
  }

  p {
    @include inter-regular;
    font-size: 1.1rem;
  }

  .button-container {
    @include inter-regular;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 30px;

    button {
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
    }

    .login-button {
      background-color: #348d59;
      color: white;
    }

    .signup-button {
      background-color: blue;
      color: white;
    }
  }
}
