@media (min-width: 1024px) {
  .login-wrapper {
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    form {
      padding: 2rem;

      .email-wrapper,
      .password-wrapper {
        margin-bottom: 2rem;
      }

      .submit-button {
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .submit-button:hover {
        background-color: #2b7342;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
      }
    }

    .signup-button {
      cursor: pointer;
      transition: all 0.3s ease;
      margin-bottom: 2rem;
    }

    .signup-button:hover {
      background-color: #2b7342;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1.05);
    }
  }
}
