@media (min-width: 1024px) {
  footer {
    nav {
      ul {
        li {
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: #36a12f;
          }
        }
      }
    }

    .footer-info {
      h2 {
        margin-top: 40px;
      }

      a {
        transition: color 0.3s ease;

        &:hover {
          color: #36a12f;
        }
      }
    }
  }
}
