body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 60px);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
main,
footer {
  width: 100%;
}

@media (min-width: 1150px) {
  body {
    background-image: url("/images/green-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
