.userPredictions-wrapper {
  h1 {
    font-size: 1.8rem;
  }

  .userPrediction-card {
    .prediction-info {
      font-size: 1.1rem;
      .delete-prediction-button {
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #c00a17;
        }

        &:active {
          background-color: #80000e;
        }
      }
    }
  }
}
